.nav-container {
    background-color: black;
    width: 100%;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}
.nav-list {
    display: flex;
    list-style: none;
    background: darkblue;
    padding: 0;
    margin: 5 0 0 0;
}

.nav-element {
    background-color: blue;
    padding: 5px;
    color: white;
    text-decoration: none;
}

body {
    margin: 0;
}

.logo {
    color: white;
    margin: 0;
    padding: 0;
}